@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
  background: #fff;
}

body.dark {
  background: #3a3b3c;
}

.navigator {
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  width: 70px;
  border-radius: 10px;
  box-sizing: initial;
  border-left: 5px solid #4d5df9;
  background: #4d5df9;
  transition: 1s;
  overflow-x: hidden;
}

.navigator.active {
  transition: 1s;
  width: 300px;
}


.navigator ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}

.navigator ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigator ul li.active {
  background: #fff;
}

.navigator ul li b:nth-child(1) {
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  background: #fff;
  display: none;
}

.navigator ul li b:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: #4d5df9;
}

.navigator ul li b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 100%;
  background: #fff;
  display: none;
}

.navigator ul li b:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  background: #4d5df9;
}

.navigator ul li.active b:nth-child(1), 
.navigator ul li.active b:nth-child(2) {
  display: block;
}

.navigator ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.navigator ul li.active a {
  color: #333;
}

.navigator ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
  bottom: 2px;
}

.navigator ul li a .icon i {
  font-size: 130%;
  text-align: center;
}

.navigator ul li a .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
}

.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #4d5df9;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle.active {
  background: #ff4d89;
  transition: 0.3s;
}

.toggle i {
  position: relative;
  color: #fff;
  font-size: 26px;
  display: none;
  justify-content: center;
  top: 3px;
}

.toggle .open i,
.toggle.active .close i {
  display: block;
}

.toggle .close i,
.toggle.active .open i {
  display: none;
}

.form-button {
  position: fixed;
  display: block;
  height: max-content;
  padding: 5px 10px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  left: 360px;
  top: 40%;
  font-weight: 400;
  background: #0d6efd;
  justify-content: center;
  align-items: center;
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.form-button:active {
  transform: scale(0.98);
  border: 0;
}

form .checkbox {
  padding: 20px 60px;
  margin: auto;
  border-color: #0b76ef;
  
}

.navigator .mode {
  top: 300%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.navigator .mode {
  display: flex;
  align-items: center;
}

.navigator .mode-toggle {
  position: absolute;
  top: 5px;
  right: 20px;
  height: 50px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mode .swicth {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: #ddd;
}

.swicth::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
}